p{
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
h1{
    background-color: blue;
}
h2{
    background-color: brown;
}
h3{
    background-color: chartreuse;
}
h4{
    background-color: crimson;
}
h5{
    background-color: darkorange;
}
h6{
    background-color: deepskyblue;
}
