h2{
    padding: 25px;
    color: rgb(209, 60, 6);
}
.name{
    padding: 10px;  
}
.pass{
    padding: 10px;
}
.submit{
    padding: 10px;
    margin-left: 120px;
}
.login{
    padding-left: 40%;
    margin: 10px;
    background-color: rgb(255, 251, 194);
    height: 40%;
}
